@import "./reset.css";

/* ___Mobile version */
html {
  --bd-radius: 0.75rem;
  --white: #ffffff;
  --bg: #000;
  --border: #e5e5e5;
  --gray: #c0c0c0;
  --black: #000000;
  --color: #e4e0de;
  --fs-normal: 1.6rem;
  --color-parag: var(--gray);
  --color-title: var(--black);
  --fs-small: 1.4rem;
  --fs-title: 2rem;
  --gap: 1rem;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: calc(100vw / 375 * 10);
  font-weight: 400;
  scroll-behavior: smooth;
}

/* =========================  tablet-version  =========================  */
/* =========================  tablet-version  =========================  */
@media screen and (min-width: 480px) {
  html,
  * {
    font-size: calc(100vw / 900 * 10);
    --fs-small: 1.8rem;
    --fs-normal: 2rem;
    --fs-title: 3rem;
  }

  .article__hold .article-dreams {
    width: 37vmin;
    margin-top: 38vmin;
    transform: translateY(-50%);
  }

  .article__hold .media__dre div {
    font-size: 18vmin;
    line-height: 0.75em;
    top: 0vmax;
    left: 0%;
    margin-left: 5vmin;
    z-index: 18;
  }

  .article__hold .media__ams {
    width: 25vmin;
  }

  .article__hold .media__ams div {
    font-size: 18vmin;
    line-height: 0.75em;
    top: 2vmin;
    right: 2vmin;
  }

  .article__hold .article-dreams__media {
    top: 4rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    align-items: center;
    z-index: 9;
    /* background: #86728c; */
  }

  .article__hold .article__text-circle-ctn {
    width: 19vmin;
    height: 19vmin;
    margin-top: -12rem;
    margin-left: -3rem;
  }

  .article__hold .article__text-square-ctn {
    width: 18vmin;
    height: 18vmin;
    margin-bottom: -14em;
    margin-right: -6em;
  }

  .article__hold .article__text-circle-ctn p {
    font-size: 1.8rem;
  }

  .article__hold .article__text-square-ctn p {
    font-size: 1.4rem;
  }

  .article__hold .article__button {
    width: 10rem;
    height: 4.2rem;
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-bottom: 2.4rem;
  }
}

/* =========================  desktop-version  =========================  */
/* =========================  desktop-version  =========================  */
@media only screen and (min-width: 1025px) {
  html,
  * {
    font-size: calc(100vw / 1920 * 10);
    --bd-radius: 1rem;
    --fs-normal: 1.8rem;
    --fs-small: 2rem;
    --fs-title: 3.6rem;
    --gap: 4rem;
  }

  .article__hold .article__logo_black {
    margin-top: 18rem;
    margin-bottom: 0;
  }

  .article__hold .article-dreams {
    width: 33vmin;
    margin-top: 46vmin;
    transform: translateY(-50%);
  }

  .article__hold .media__dre div {
    font-size: 15vmin;
    line-height: 0.75em;
    top: 0vmax;
    left: 0%;
    margin-left: 5vmin;
  }

  .article__hold .media__ams div {
    font-size: 15vmin;
    line-height: 0.75em;
    top: -1.4vmax;
    right: 3vmin;
  }

  .article__hold .article-dreams__media {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    align-items: center;
    top: 4rem;
    z-index: 9;
    /* background: #86728c; */
  }

  .article__hold .article__text-circle-ctn {
    width: 17vmin;
    height: 17vmin;
    margin-top: -14rem;
    margin-left: 0rem;
  }

  .article__hold .article__text-square-ctn {
    width: 16vmin;
    height: 16vmin;
    margin-bottom: -6em;
    margin-right: -2em;
  }

  .article__hold .article__text-circle-ctn p {
    font-size: 1.8rem;
  }

  .article__hold .article__text-square-ctn p {
    font-size: 1.4rem;
  }

  .article__hold .article__button {
    width: 10rem;
    height: 4.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
  }
}

/* =========================  mobile-version  =========================  */
/* =========================  mobile-version  =========================  */
body {
  background: var(--bg);
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

/* noto-serif-display-latin-wght-normal */
@font-face {
  font-family: "Noto Serif Display Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-serif-display:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ____playfair */
.playfair-display-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.article {
  position: absolute;
}

.article__hold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000;
}

.article__logo_black {
  margin-top: 12rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.article__logo_black svg {
  display: block;
  margin: auto;
  cursor: pointer;
}

/* =========================  article-dreams  =========================  */
/* =========================  article-dreams  =========================  */
.article-dreams__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  color: var(--black);
  z-index: 2;
  position: relative;
  /* clip-path: inset(10% 0 11% 0); */
  clip-path: inset(100% 0 100% 0);
  border: 1px solid;
  animation-name: wipe-center-in;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  animation-delay: 0ms;
  animation-play-state: paused;
}

.article-white-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--color);
  clip-path: inset(10% 0 10% 0);
}

.article-dreams {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 54vmin;
  height: 50vmin;
  margin: 0 auto;
  font-weight: 900;
  position: absolute;
  z-index: 20;
  /* background: #727c8c; */
}

.media__dre {
  width: 50%;
  height: 50%;
  position: relative;
  /* background: var(--white); */
  /* border: 1px solid black; */
}

.media__dre div {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: 10%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  color: var(--black);
  font-size: 28vmin;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0rem;
  line-height: 8rem;
  opacity: 0;
  transition: all 1s ease-in-out 1s;
  /* background: #d9c1d7; */
  z-index: 18;
}

.media__dre div:hover {
  cursor: pointer;
}

.media__dre div span {
  opacity: 0;
  transform: rotate(90deg);
  transition-property: opacity, transform;
  transition-duration: calc(((var(--length) - var(--i)) * 0.1s) + 0.5s);
  transition-delay: calc((var(--length) - var(--i)) * 0.1s);
  transition-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

.media__ams {
  width: 50%;
  height: 50%;
  position: relative;
  padding-right: 11.5rem;
  align-self: flex-end;
  /* border: 1px solid black; */
  z-index: 10;
}

.media__ams div {
  position: absolute;
  top: -1.5vmax;
  right: 0.5vmax;
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  color: var(--black);
  font-size: 28vmin;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0rem;
  line-height: 8rem;
  opacity: 0;
  transition: all 1s ease-in-out 1s;
}

.media__ams div:hover {
  cursor: pointer;
}

.media__ams div span {
  opacity: 0;
  transform: rotate(90deg);
  transition-property: opacity, transform;
  transition-duration: calc(((var(--length) - var(--i)) * 0.1s) + 0.5s);
  transition-delay: calc((var(--length) - var(--i)) * 0.05s);
  transition-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

.article-dreams__media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50vmin;
  height: 50vmin;
  margin: 0 auto;
  position: absolute;
  top: 0rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  z-index: 9;
  /* background: #86728c; */
}

.article__text-circle-ctn {
  background: var(--color);
  width: 15vmax;
  height: 15vmax;
  border: 4px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: -8rem;
  margin-left: -9rem;
  z-index: 18;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s ease-in-out 0s;
  animation-name: circle-in-center;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 1, 0.3, 1);
  animation-delay: 20ms;
  animation-play-state: paused;
}

.article__text-square-ctn {
  background: var(--color);
  width: 13vmax;
  height: 13vmax;
  border: 4px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: -16rem;
  margin-right: -9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 18;
  opacity: 1;
  transition: all 1s ease-in-out 0s;
  animation-name: square-in-bottom-right;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 1, 0.3, 1);
  animation-delay: 20ms;
  animation-play-state: paused;
}

.article__text-circle-ctn p {
  font-size: 1.6vmax;
  text-align: center;
  color: #000;
  padding: 2rem;
  line-height: 1.1;
}

.article__text-square-ctn p {
  font-family: "Playfair Display", serif;
  font-size: 1vmax;
  text-align: center;
  color: #000;
  padding: 1rem;
  line-height: 1.2;
}

/* =========================  article-button  =========================  */
/* =========================  article-button  =========================  */
.article__button {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 9.1rem;
  height: 3.9rem;
  background: #191919;
  border-radius: 2.4rem;
  margin-bottom: 0rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  cursor: pointer;
  z-index: 9;
}

.article__button p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #8b9093;
  text-align: center;
  padding: 1.5rem;
}

.article__button:hover,
.article__button:focus {
  background-color: #c7c7c7;
}

.article__button:hover p,
.article__button:focus p {
  color: #191919;
}

/* =========================  interaction  =========================  */
/* =========================  interaction  =========================  */
/* ____dream_ctn */
@keyframes wipe-center-in {
  0% {
    clip-path: inset(100% 0 100% 0);
  }
  30%,
  70% {
    clip-path: inset(10% 0 10% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-center-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  30%,
  70% {
    clip-path: inset(10% 0 10% 0);
  }
  100% {
    clip-path: inset(100% 0 100% 0);
  }
}

/* ____square_ctn */
@keyframes square-in-bottom-right {
  from {
    clip-path: inset(0 100% 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes square-out-top-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 100% 0);
  }
}

/* ____circle_ctn */
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

@keyframes circle-out-center {
  from {
    clip-path: circle(125%);
  }
  to {
    clip-path: circle(0%);
  }
}

.article-dreams__content.is-animated,
.article__text-circle-ctn.is-animated,
.article__text-square-ctn.is-animated {
  animation-play-state: running;
}

.article-dreams__content.is-animated-out {
  animation-name: wipe-center-out;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 1, 0.3, 1);
  animation-delay: 20ms;
  animation-play-state: running;
}

.article__text-circle-ctn.is-animated-out {
  animation-name: circle-out-center;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 1, 0.3, 1);
  animation-delay: 20ms;
  animation-play-state: running;
}

.article__text-square-ctn.is-animated-out {
  animation-name: square-out-top-left;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 1, 0.3, 1);
  animation-delay: 20ms;
  animation-play-state: running;
}

.media__dre.is-animated div,
.media__ams.is-animated div {
  opacity: 1;
  transition: all 1s ease-in-out 0.1s;
}

.media__dre.is-animated div span {
  opacity: 1;
  transform: rotate(0deg);
  transition-duration: calc((var(--i) * 0.1s) + 1.2s);
  transition-delay: calc(var(--i) * 0.1s);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.media__ams.is-animated div span {
  opacity: 1;
  transform: rotate(0deg);
  transition-duration: calc((var(--i) * 0.1s) + 1.2s);
  transition-delay: calc(var(--i) * 0.15s);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* ========================= victor =========================  */
/* ========================= victor =========================  */
.article-dreams {
  transform: translateY(-50%);
}
